<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Google Maps -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/travelbuddybg"
        android:label="Eventia"
        android:roundIcon="@drawable/travelbuddybg"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventPlanner"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCiqHNjW6Ta-LdrVaMAdHIKCvW0zoxWe5g" />

        <!-- Login Activity -->
        <activity
            android:name=".Login"
            android:exported="true" />

        <!-- Register Activity (Launcher now) -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity (not launcher anymore) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>
